<div class="head">
    <img src="/assets/spy.svg" alt="NINJA BEAM, LLC" />
    <div class="name">
        <p class="first">Mike Tener</p>
        <p class="title"> Technologist </p>
    </div> <!-- name -->
</div><!-- head -->
<br class="clear" />
