<div class="innerContainer">
  <div class="desc">
    <h4>Welcome to my blog </h4>
    <p>
      where I discuss stuff and things. You know its mostly more stuff than things but hey its kind of nice to talk about stuff when its related to such things as stuff.
    </p>
  </div>

  <div class="main">
    <article>
      <header><h1><a href="blog-post.html">Hello World</a></h1></header>
      <div class="meta">May 19, 2012,&nbsp;<span>Mike Tener</span>,&nbsp;<a href="#">All the Comments</a></div>
      <div class="entry">
        <div class="postMedia postImage"><a href="blog-post.html"><img width="480" height="80" src="images/Lion_fish-480x80.jpg" class="scale-with-grid wp-post-image" alt="" title=""></a></div>
      <p>Mike Tener is a minimalist, elegant and responsive vCard kinda guy which is suitable for using it as a vcard, small personal portfolios.</p>
      <p><a href="#" class="more-link">Read More</a></p>
      </div>
    </article>
  </div>  <!-- /main -->
</div> <!-- /innerContainer -->

<script type="text/javascript">
  $(document).ready(function() {
    activeNav('.blog')
  });
</script>