<% i_need_work = true %>
<% if i_need_work == true %>
<h1> I pity the foo who don't hire Mr. T </h1>
<% else %>
<h1> This is not the developer you are looking for </h1>
<% end %>

<script type="text/javascript">
  $(document).ready(function() {
    activeNav('.contact')
  });
</script>