<!-- Example stuff -->
<p>&nbsp;</p>
<h4>Shortcodes and UI Elements</h4>
<p>Using combination of different shortcodes to generated various user interface elements e.g. tabs, lists etc. you can create totally differently layouts for the text pages. All what is needed is a little bit creativity.</p>
<h5>Tabs</h5>
<ul class="tabs">
    <li><a href="#education" class="active">Education</a></li>
    <li><a href="#jobs">Jobs</a></li>
    <li><a href="#skills">Skills</a></li>
</ul>
<ul class="tabs-content">
    <li class="active" id="education">Tab-1 content goes here</li>
    <li class="" id="jobs">Tab-2 content goes here</li>
    <li class="" id="skills">Tab-3 content goes here</li>
</ul>
<p>&nbsp;</p>
<h5>Accordion</h5>
<div class="accordion" id="optional-id">
    <div class="atitle"><a href="#">Tab 1</a></div>
    <div class="atab">Tab 1 content goes here</div>
    <div class="atitle"><a href="#">Tab 2</a></div>
    <div class="atab">Tab 2 content goes here</div>
    <div class="atitle"><a href="#">Tab 3</a></div>
    <div class="atab">Tab 3 content goes here</div>
    <div class="atitle"><a href="#">Tab 4</a></div>
    <div class="atab">Mauris a tempor tellus. Sed feugiat sem ac tellus mollis rhoncus. Nunc ante diam, tincidunt in bibendum id, porttitor ac justo. Sed felis urna, imperdiet ac molestie eu, interdum eget elit. Aenean dui diam, adipiscing nec tincidunt eget, cursus et tortor. Sed sollicitudin gravida dui.</div>
    <div class="atitle"><a href="#">Tab 5</a></div>
    <div class="atab">Mauris a tempor tellus. Sed feugiat sem ac tellus mollis rhoncus. Nunc ante diam, tincidunt in bibendum id, porttitor ac justo. Sed felis urna, imperdiet ac molestie eu, interdum eget elit. Aenean dui diam, adipiscing nec tincidunt eget, cursus et tortor. Sed sollicitudin gravida dui.</div>
</div>
<p>&nbsp;</p>
<h5>Toggles</h5>
<div class="toggle">
   <div class="ttitle"><a href="#">Toggle Title</a></div>
   <div class="ttab">Toggle content goes here</div>
</div>
<div class="toggle">
    <div class="ttitle"><a href="#">Toggle Title</a></div>
    <div class="ttab">Toggle content goes here</div>
</div>
<div class="toggle">
    <div class="ttitle"><a href="#">Toggle Title</a></div>
    <div class="ttab">Toggle content goes here</div>
</div>
<p>&nbsp;</p>
<h5>Lists</h5>
<ul class="list arrow">
    <li>List Item 1</li>
    <li>List Item 2</li>
    <li>List Item 3</li>
</ul>
<ul class="list check">
    <li>List Item 1</li>
    <li>List Item 2</li>
    <li>List Item 3</li>
</ul>
<h5>Alerts</h5>
<div class="alert-box standard"><span>standard alert content goes here</span><a class="close-btn" href="#"></a></div>
<div class="alert-box warning"><span>warning alert content goes here</span><a class="close-btn" href="#"></a></div>
<div class="alert-box success"><span>success alert content goes here</span><a class="close-btn" href="#"></a></div>
<div class="alert-box error"><span>error alert content goes here</span><a class="close-btn" href="#"></a></div>
<p>&nbsp;</p>
<h5>Buttons</h5>
<p><a href="http://google.com" class="button default small">Small Round Button</a><br>
    <a href="http://google.com" class="button default large">Large Round Button</a><br>
    <a href="http://google.com" class="button square small">Small Square Button</a><br>
    <a href="http://google.com" class="button square large">Large Square Button</a></p>
    <p>&nbsp;</p>
    <h5>Blockquote</h5>
    <blockquote><p>Sed sed leo sit amet elit sagittis fermentum. Nulla posuere commodo erat. Nam ac nunc ipsum, id espara tincidunt orci. Quisque adipiscing molestie dolor, ut congue sem porta et.</p></blockquote>
    <p>&nbsp;</p>
    <h5>Pre</h5>
    <pre>Vestibulum condimentum arcu eget justo rhoncus auctor. Nulla sed nulla nec diam aliquam semper nec ac magna. Quisque non urna nec mauris condimentum vulputate non sed sapien. Integer vitae diam nunc, in euismod lacus. Vestibulum condimentum arcu eget justo rhoncus auctor. Nulla sed nulla nec diam aliquam semper nec ac magna. Quisque non urna nec mauris condimentum vulputate non sed sapien. Integer vitae diam nunc, in euismod lacus</pre>
</div>