.sixteen.columns
	%h2= "Please forgive the appearance of my site. I'm building this on my own server which is a great learning experience but turning out to be a bit bumpier than I expected."


/ .sixteen.columns
/   .offset-by-five
/     %h1= "Thinker of #{link_to 'Things', musings_url}".html_safe
/   .offset-by-six
/     %h2= "Maker of #{link_to 'Stuff', projects_url}".html_safe
/   .offset-by-seven
/     %img(src="/assets/wizard.svg" height=125)
