.sixteen.columns
  .offset-by-five
    %h1= "Thinker of #{link_to 'Things', musings_url}".html_safe
  .offset-by-six
    %h2= "Maker of #{link_to 'Stuff', projects_url}".html_safe
  .offset-by-seven
    =image_tag asset_path('wizard.svg'), size: '125x125'

    
