<div class="desc">

  <ul>
    <li><a href="https://trello.com/b/oqSI3HUQ/tener" target="_blank">Trello</a></li>
    <li><a href="https://www.pandora.com/station/play/511579391664822233" target="_blank">Pandora: Hybrid Radio</a></li>
    <li><a href="http://www.pandora.com/station/play/199582856930367449" target="_blank">Pandora: Crossbreed Radio</a></li>
    <li><a href=""></a></li>
  </ul>

</div>
<script type="text/javascript">
  $(document).ready(function() {
    activeNav('.profile')
  });
</script>