<div class="desc">
	<p>
    Hey, I'm Mike! I'm currently looking for a company to call home. Well, not exactly home. I won't be sleeping under the desk or showering in the bathroom. Actually... maybe I shouldn't rule anything out just quite yet, huh?
  </p>
  <p>
    A bit about me: I'm passionate about bringing cool and useful ideas into the world, especially ones that help people. That's the reason I learned how to develop for the webs. I have a broad skillset which spans technology, lean product development, sales, operations, customer services, and start-ups both inside and outside of parent corporations.
  </p>
  <p>
    Feel free to contact me via email (michaeltener at gmail.com) if you're looking for someone who is personable, enjoys coding, and likes consuming a good beer with good people now and again. To be honest while(good_people){ beer += " and again"; }.
  </p>
</div>
<%= render partial: "layouts/sub_nav" %>
<script type="text/javascript">
  $(document).ready(function() {
    activeNav('.profile')
  });
</script>