
<button> I am a Machine </button>

<button> I am not a Machine</button>

<p>
{:Name => "Michael Tener", :Number => "(914)907-1227".to_i, :email => "MichaelTener@gmail.com" }
{:github => "MTen", :website => "miketener.com" }<br>


Socially savvy, creative, entrepreneurial, analytical, developer with a reputation for saving troubled projects and a drive to surpass expectations with an interest in gamification and cognitive sciences.

Experience{
:Relevant Expertise => ["Research & analytics", "product pricing", "data modeling", "sales", "mentoring"],

Tax Analyst = [{:TenerConsultingLLC => "February 2010..December 2013"},
["Picked up 16 million dollars worth of combined tax savings and revenue out of a discard pile", "Cashflow structuring", "Data Modeling", "Tax Compliance management", "Worked on assets ranging from a few million to half a billion dollars in valuation", "Automated my job with excel templates and Autohotkey before leaving."]],

Entreprenuer/Sideproject = [{:KittenTested => "January 2013..August 2013"},
["Professionally played with kittens", "Navagated the complexity of starting a company with friends", "Handled legal and tax compliance", "Utilized customer development startup methodology", "developed a pilot video on a shoestring budget"]],

Assistant Tournament Director = [{:WomensMetropolitanGolfAssociation => "May 2008 – May 2009"},
["Website administration & media relations",  "Planned and Managed tournaments and events for a broad spectrum of members", "Small business office administration", "neophyte level understanding of the rules of Golf (never let lawyers play a game!)"]]

Commercial Loan Closer = { {:CountrywideCommercialRealEstateFinance => "2007 – 2008"},
["Member of a team that founded a niche lending division","Created a streamlined paperless work flow that took a loan from origination to closing", "Negotiated pricing to increase profitability in excess of $800,000", "Member of top performing sales team nationwide.", "Analyzed commercial assets using a profit & loss models.", "Handled daily administrative tasks and provided on site IT support.", "Closed over $128 million in loans in nine months of production"]}

Lead Broker Sales Representative = { {:GeenPointMortgage => "September 2005 – February 2007"},
["Mentored and supported a team of five", "Closed residential mortgages through a wholesale conduit", "Top producing Broker Sales Representative on the regional level", "Fostered a repeat customer base through knowledgeable and friendly service", "Entrusted with sensitive data about high profile clientele", "Communcations conduit for Brokers, Management, Account Executives, Loan Processors, and Underwriters",  
"Managed three to six pipelines (2 1/2 times normal work load) when key team members left with no warning", "Worked with offshore teams for core business activities."] }

Education = [
[{:GeneralAssembly => "New York, NY"}, {:WebDevelopmentIntensive => "720 hours"} "December 2013..March 2014"],
[{:GeneralAssembly => "New York, NY"}, {:BackendWebDevelopment => "60 hours"}, "September 2013..March 2014"],
[{:ColleceofNewRochelle => "New Rochelle, NY"}, {:Social Sciences => "38 credits"}, "January 2010..May 2011"}],
[{:SacredHeartUniversity => "Fairfield, CT"}, {:Economics => "100 credits"}, "September 2001..January 2005"]
]
}
Extracurricular = {
Meet up Groups = ["Nyc.rb", "Nyc Open data", "HackLab", "Code Crew", "Extra Credit", "NYC D3.js", "NYC on Rails", "Volumetric Society of NYC"],
Fun Facts= ["Casually play golf", "Brew beer", "tinker", ]
}
</p>