<html>
<body>
  <div class="container">
    <div class="eight columns offset-by-four">
      <h1> My Interests</h1>
    </div>
    <div class="eight columns offset-by-four">
      <p>This is a placeholder for pintrest clone for my site.<br/>
      Currently writing a script that will parse my chrome bookmarks <br/>
      and import them into a simple pintrest style layout.</p>
    </div>
  </div>
</body>
</html>
