<div class="portfolio-items innerContainer">
  <div class="desc">
    <h4>My most recent work.</h4>
    <p></p>
  </div>
  <ul class="filter clearfix">
    <li class="active"><a href="#">All</a></li>
    <li><a href="">Ruby on Rails</a></li>
    <li><a href="">Node</a></li>
    <li><a href="">Consulting</a></li>
    <li><a href="">Tinkering</a></li>
  </ul>

  <ul class="items">

    <li class="work ruby-on-rails image">
      <a href="" rel="prettyPhoto[biopic_works_gal]">
        <div class="image-wrapper">
          <div class="cover"></div>
          <img width="210" height="160" src="assets/invert.png  " class="scale-with-grid wp-post-image" alt="Twendy" title="">
        </div>
      </a>
      <span class="title"><a href="#"></a></span>
      <div class="toggle">
        <div class="ttitle"><a href="#">Envato</a></div>
        <div class="ttab">A D3 Visualization of Twitter Trends over a 7 day period. </div>
      </div>
    </li>


    <li class="work node image">
      <a href="" rel="prettyPhoto[biopic_works_gal]">
        <div class="image-wrapper">
          <div class="cover"></div>
          <img width="210" height="160" src="assets/spy.svg" class="scale-with-grid wp-post-image" alt="Stop &amp; Frisk" title="">
        </div>
      </a>
      <span class="title"><a href="#"></a></span>
      <div class="toggle">
        <div class="ttitle"><a href="#">Envato</a></div>
        <div class="ttab">STUFFFFFFFFFFF</div>
      </div>
    </li>


    <li class="work ruby-on-rails image">
      <a href="" rel="prettyPhoto[biopic_works_gal]">
        <div class="image-wrapper">
          <div class="cover"></div>
          <img width="210" height="160" src="assets/spy.svg" class="scale-with-grid wp-post-image" alt="BTF Movement" title="">
        </div>
      </a>
      <span class="title"><a href="#"></a></span>
      <div class="toggle">
        <div class="ttitle"><a href="#">Envato</a></div>
        <div class="ttab">STUFFFFFFFFFFF</div>
      </div>
    </li>
  </ul>
</div>

<script type="text/javascript">
$(document).ready(function() {
  activeNav('.portfolio')
});
</script>