/*navigation*/
  nav.primary{
    display:table;
  }

  nav.primary ul,
  nav.primary ul li{
    margin:0px;
    background: #000000;
  }

  nav.primary ul li{
    display: inline;
    float: left;
    position: relative;
  }

  nav.primary ul li a {
    display: inline-block;
    line-height: 49px;
    padding: 0 14px;
    color: #ebebeb;
    text-transform: uppercase;
    text-decoration: none;
    font-weight:bold;
    letter-spacing: 0.08em;
  }

  nav.primary ul li a:hover {
    background: #424242;
    cursor: pointer;
  }
/*sub menu*/
  nav.primary ul ul {
    /*Allows for transition effect*/
    opacity: 0;
    filter: alpha(opacity=0);
    /**/
    /* Hiding submenu off screen */
    position:absolute;
    z-index: 999;
  /*background: ;*/
    /* Crushing submenu to 0px, still viewable by web crawlers, not by people. */
    height: 0;
    overflow: hidden;

    min-width: 100%;
    /* Transition */
    -webkit-transition: opacity 0.5s ease-out;
    -moz-transition: opacity 0.5s ease-out;
    -o-transition: opacity 0.5s ease-out;
    -ms-transition: opacity 0.5s ease-out;
    transition: opacity 0.5s ease-out;

    /* Shadow */
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow:0px 2px 2px rgba(0, 0, 0, 0.3);
  }

  nav.primary ul li:hover ul{
  /*  Allows for transition effect  */
    opacity: 10;
    filter: alpha(opacity=100);
  /*  Shows hidden submenu */
    height: auto;
    overflow: auto;
  }

  nav.primary ul ul li{
    float: none;
    display: list-item;
    border-top: 1px solid #383737;
  }

  nav.primary ul ul a{
    display: block;
    line-height: 35px;
    text-transform:none;
  }

  nav.primary ul li:hover > a {
    background: #424242;
  }

  /*Portfolio*/
  .project{
    display:block;
    float:left;
    width:140px;
    height:140px;
    padding: 10px;
    margin: 25px;
    margin-top: 50px;
    border:solid;
    text-align:center;
    box-shadow:10px 10px 20px #888888;
  }
  .project li {
    list-style:none;
  }