<html>
<body>
  <div class="container">
    <div class="eight columns offset-by-four">
      <h1> Welcome to the Muse</h1>
    </div>
    <div class="eight columns offset-by-four">
      <p>This is a placeholder message for the blog portion of my site. I'm<br/>
      working on creating an Evernote based CMS solution for my personal consumption.</p>
    </div>
  </div>
</body>
</html>
