<html>
<body>
  <div class="container">
    <div class="eight columns offset-by-four">
      <h1> Welcome to the Muse</h1>
    </div>
    <div class="eight columns offset-by-four">
      <p> Hello world! A blog will be coming here soon.<br/>
      </p>
    </div>
  </div>
</body>
</html>
