<div class="topAddress hidden">
  <address>
    Mount Vernon
    <br>
    New York 10552, USA
    <br>
    <a href="mailto:michaeltener@gmail.com">michaeltener at gmail dot com</a>
    <br>
  </address> 
  <div class="social">
    <a href="https://www.linkedin.com/in/miketener/" target="_blank"><img src="/assets/social_icons/linkedin_20.png" alt="" /></a>
    <a href="https://github.com/mten" target="_blank"><img height="20" width="20" src="/assets/social_icons/github-icon.png" alt="" /></a>
    <a href="https://www.facebook.com/mike.tener.3" target="_blank"><img src="/assets/social_icons/facebook.png" alt="" /></a>
    <a href="https://twitter.com/MikeTener" target="_blank"><img src="/assets/social_icons/twitter.png" alt="Follow me for no updates, ever" /></a>
  </div>  
</div><!-- /sidebar -->

