<div class="head">
    <img src="/assets/spy.svg" alt="NINJA BEAM, LLC" />
    <div class="name">
        <p class="first">Mike</p>
        <p class="last">Tener</p>
        <p class="title">Web Developer | Startup Junkie | Thinker</p>
    </div> <!-- name -->
</div><!-- head -->
<br class="clear" />
