<nav>
	<ul>
		<li title="Profile" class="profile"><a href="/"><span><span>Profile</span></span></a></li>
		<li title="Resume" class="resume"><a href="resume"><span><span>Resume</span></span></a></li>
		<li title="Portfolio" class="portfolio"><a href="portfolio"><span><span>Portfolio</span></span></a></li>
		<li title="Blog" class="blog"><a href="blog"><span><span>Blog</span></span></a></li>
		<li title="Contact" class="contact"><a href="contact"><span><span>Contact</span></span></a></li>
	</ul>
</nav>

<script type="text/javascript">
    var activeNav = function(e) {
        $(e).addClass('current-menu-item')
    };
</script>