<div class="subnavContainer">
    <div class="subnavLeft">
        <div class="subnavResume">
            <a href="resume.html" class="invert"></a><br />
            <a href="resume.html">Resume</a>
        </div>
        <div class="subnavPortfolio">
            <a href="portfolio.html" class="invert"></a><br />
            <a href="portfolio.html" >Portfolio</a>
        </div>
    </div>
    <div class="subnavRight">
        <div class="subnavBlog">
            <a href="blog.html" class="invert"></a><br />
            <a href="blog.html" >Blog</a>
        </div>
        <div class="subnavContact">
            <a href="contact.html" class="invert"></a><br />
            <a href="contact.html" >Contact</a>
        </div>
    </div>
</div><!-- /subnavContainer -->
